<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ajuin Dana</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/half-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">

    <script type="text/javascript" src="assets/js/protractor.js"></script>
    <script src="//code.angularjs.org/1.6.9/angular.min.js"></script>

  </head>

  <body ng-app="ngAjuinDana">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">AJUIN DANA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h3>Simulasi Pinjaman</h3>
        <hr>
      </div>
    </section>
    <section class="boxsimulasi">
      <div class="container">
        <div class="row" ng-controller="ngController">
        <div class="col-md-6">
          <div class="form-group row">
            <label for="pinjaman" class="col-sm-4 col-form-label">Jumlah Pinjaman</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" id="pinjaman" ng-model="pinjaman" placeholder="Rp ...">
              <span class="miniFont red">Minimum jumlah pinjaman adalah Rp 10.000.000</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="tenor" class="col-sm-4 col-form-label">Tenor</label>
            <div class="col-sm-8">
              <input type="range" name="range" ng-model="value" min="{{min}}"  max="{{max}}">
              <code>{{value}}</code> Bulan

            </div>
          </div>
        </div>
        <div class="col-md-6">
          Jumlah Pinjaman <span id="currency-no-fractions">{{pinjaman | currency:"Rp ":0}}</span>
          <br>
          <span ng-model="hasil">Total Pinjaman Rp {{hasil = pinjaman + (pinjaman  * 17/100)}}</span>
        </div>
      </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; AJUIN DANA</p>
      </div>
      <!-- /.container -->
    </footer>

    <script>
      angular.module('ngAjuinDana', [])
        .controller('ngController', ['$scope', function($scope) {
          $scope.pinjaman = 10000000;
          $scope.value = 12;
          $scope.min = 6;
          $scope.max = 24;


        }]);
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
